body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#map {
    height: 100vh;
    margin: 0;
}

#search-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 24px;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 90%;
    max-width: 600px;
}

#search-box {
    display: flex;
    align-items: center;
    width: 100%;
}

#search-box input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    padding: 8px;
}

#search-box input::placeholder {
    color: #aaa;
}

#search-box .icon {
    margin-right: 10px;
    color: #555;
}

#search-box .icon svg {
    width: 20px;
    height: 20px;
}

.popup-image {
    width: 100%;
    height: auto;
    margin: 10px 0 10px 0;
}

.detail-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.detail-button:hover {
    background-color: #45a049;
}

.leaflet-popup-content-wrapper {
    max-width: 270px; /* Atur lebar maksimum sesuai kebutuhan */
    word-wrap: break-word;
}

#building-details {
    position: fixed;
    top: 80px;
    bottom: 21px;   
    right: 20px;
    width: 350px;
    max-height: calc(100vh - 40px);
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    display: none;
    overflow-y: auto;
}

#building-details h2 {
    margin: 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#details-content {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
}

.detail-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-item span {
    display: inline-block;
    max-width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-item span:hover {
    white-space: normal;
}


img {
    border-radius: 8px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #999;
}

.close-btn:hover {
    color: #333;
} 